<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        body {
          background-color: black;color: aliceblue;
        }
        
        h1, h2 {
          color: grey;
          margin-left: 40px;
        }
        </style> -->
    

</head>
<body>
<h1>This is detail page.</h1>
    {% extends "blog/post/base.html" %}
        {% block title %}{{ post.title }}{% endblock %}
      {% block content %}
            <h1>{{ post.title }}</h1>
            <p class="date">  Published {{ post.publish }} by {{ post.author }} </p>
              {{ post.body|linebreaks }}

            <p> <a href="{% url 'first:post_share' post.id %}"> Share this post </a> </p>

      {% endblock %}

      <div>
        {% with comments.count as total_comments %}
            <h2> {{ total_comments }} comment{{ total_comments|pluralize }} </h2>
        {% endwith %}
      </div>

      <div>
    {% for comment in comments %}
      <div class="comment">
          <p class="info"> Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }} </p>
          {{ comment.body|linebreaks }}
      </div>
    {% empty %}
      <p>There are no comments yet.</p>
    {% endfor %}
  </div>

      <div>
          {% if new_comment %}
            <h2>Your comment has been added.</h2>
              {% else %}
            <h2>Add a new comment</h2>
                <form method="post">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Add comment"></p>
                </form>
            {% endif %}
    </div>

    <div>
      <h2>Similar posts</h2>
          {% for post in similar_posts %}
              <p> <a href="{{ post.get_absolute_url }}">{{ post.title }}</a> </p>
          {% empty %}
              There are no similar posts yet.
          {% endfor %}

    </div>


</body>
</html>
